:root {
  --primary-color: #213943;      /* Azul-petróleo escuro */
  --nav-hover-color: #a3b6c0;    /* Azul suave e claro para hover da navegação */
  --background-color: #f8f9fa;   /* Fundo claro para boa legibilidade */
  --text-color: #333;            /* Texto escuro padrão */
  --accent-color: #2ecc71;       /* Verde vibrante para destaque positivo */
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

